html {
  background-color: #202124
}

main{
	width: 100%;
	height: 100%;
	align-items: center;
	text-align:center;
}


 h3{
  padding-top: 25px;
  letter-spacing: normal;
  font-family: 'Monaco', monospace;
	font-style: normal;
	font-size: 60px;
	color: #8390FA;
}
p{
	font-family: 'Monaco', monospace;
	font-size:1.5rem;
  color: #7A9E7E;
}


