<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="{{url_for('static', filename='script.js')}}"></script>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
  <title>AI Flashcard Maker</title>
  </head>

<body>
  <main>
    <h3>AI Flashcard Maker</h3>
    <p>Studying!!</p>
      <div id="Flash Cards"> 
          <div class="container">
      <div class="nav">
        <div>
          <button onclick="showCreateCardBox()">New Cards</button>
          <button onclick="delFlashcards()">Clear Cards</button>
        </div>
      </div> 
    </div>
     <div class="container">
    <div class="create-card">
      <h2>Create Flashcard</h2>

      <label for="grade">Grade</label>
      <input type="text" id="grade" ><br><br>
      <div id="result_grade"></div>

      <label for="topic">Topic</label>
      <input type="text" id="topic"><br><br>
      <div id="result_topic"></div>

      <label for="NumofCards">Number of Cards</label>
      <input type="text" id="NumofCards"><br><br>
      <div id="result_NumofCards"></div>
      <div>
        <button onclick="addFlashcard()" id="generate">Generate</button> 
      </div>
    </div>
    <div class="flashcards"></div>
  </div>


    
  </main>
</body>

</html>