<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="{{url_for('static', filename='script2.js')}}"></script>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
  <title>AI Flashcard Maker 2.0</title>
  </head>


<!--────────────────Header───────────────-->
<header>
  <nav>	
   <ul class="nav-bar"><div class="bg"></div>
    <li><a class="nav-link" href="/">1.0</a></li>
    <li><a class="nav-link active" href="/note">2.0</a></li>
    <div class="e">
      <div class="line1"></div>
          <div class="line2"></div>
      <div class="line3"></div>
    </div>
  </nav>
</header>

<body>
  <main>
    <h3>AI Flashcard Maker 2.0</h3>
    <p>Better</p>
      <div id="Flash Cards"> 
          <div class="container">
      <div class="nav">
        <div>
          <button onclick="delFlashcards()">Clear Cards</button>
        </div>
      </div> 
    </div>
     <div class="container">
    <div class="create-card">
      <h2>Create Flashcard</h2>

      <label for="note">Note</label>
      <input type="file" id="note" name="note" accept=".txt,.md" multiple="false"><br><br>
      <div id="result_grade"></div>

      <label for="NumofCards">Number of Cards</label>
      <input type="text" id="NumofCards"><br><br>
      <div id="result_NumofCards"></div>

      <div>
        <button id="generate">Generate</button> 
        <button id="download">Download Deck</button> 
        <img src="https://media.tenor.com/On7kvXhzml4AAAAj/loading-gif.gif" alt="Loading..." class="loading_gif" id="loading_circle">
      </div>
    </div>
    <div id="flashcards-container"></div>
  </div>
 
  </main>
</body>

</html>